body {
    background-color: rgb(71, 76, 90);
}

#game-div {
    position: absolute;
    border: 2px solid #555;
    width: 30vh;
    height: 60vh;
    left: 50%;
    top: 5vh;
    margin-left: -15vh;
}

.game-table {
    position: absolute;
    border-collapse: collapse;
    top: 0px;
    bottom: 0px;
}

.cell {
    position: absolute;
    width: 2.89vh;
    height: 2.89vh;
}

.ghost-img {
    position: absolute;
    top: 0px;
    opacity: 0.45;
}